.tarjeta-juego{
    height: 220px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1em;
    transition: all 0.1s ease-out;
    cursor: pointer;
}

    .tarjeta-juego img{
        height: 160px;
        border-radius: 10px;
    }

    .tarjeta-juego span{
        font-size: 2rem;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;
        color: var(--primario-color);
    }

    .tarjeta-juego:hover{
        transform: scale(1.05);
    }