<div class="inicio">
    <header>
        <nav class="navbar navbar-custom">
            <div class="py-3 d-flex align-items-center justify-content-around">
                <a class="titulo navbar-brand mx-5" routerLink="/inicio/tienda"><img src="../../../assets/logo.png" id="logo" alt="logo"></a>
                <mat-form-field class="mx-5" color="accent">
                    <input [(ngModel)]="Busqueda" (keydown.enter)="BuscarJuego()" type="text" matInput placeholder="Buscar..."/>
                    <mat-icon matPrefix>search</mat-icon>
                </mat-form-field>
            </div>
            <div class="nav nav-links-custom">
                <a routerLinkActive="active" class="titulo nav-item nav-link" routerLink="/inicio/tienda">Tienda</a>
                <a routerLinkActive="active" class="titulo nav-item nav-link" routerLink="/inicio/biblioteca">Biblioteca</a>
                <a routerLinkActive="active" class="titulo nav-item nav-link" routerLink="/inicio/carrito">Carrito</a>
                <button [cdkMenuTriggerFor]="menu" id="btn-config" mat-raised-button class="btn-icon" matTooltip="Configuración"><mat-icon>settings</mat-icon></button>
                <ng-template #menu>
                <div class="menu" cdkMenu>
                    <button class="menu-item" cdkMenuItem (click)="CerrarSesion()">Cerrar sesión</button>
                    <button class="menu-item" cdkMenuItem (click)="AbrirUsuario()">Usuario</button>
                </div>
                </ng-template>
            </div>
          </nav>
    </header>
    <main class="perfect-scroll-custom">
        <router-outlet></router-outlet>
    </main>
    <footer>
        <span>
            Hecho con amor por los miones ❤
        </span>
        <span>
            Liquid &copy; 2023
        </span>
    </footer>
</div>

