.inicio{
    width: 100vw;
    height: 100vh;
}

    .inicio header{
        height: 15vh;
    }

    .inicio main{
        height: 80vh;
    }

    .inicio footer{
        display: flex;
        align-items: end;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        font-size: 1.6rem;
        height: 5vh;
    }

    .nav-links-custom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40%;
        padding: 0 1em;
    }

        .nav-links-custom a{
            transition: all 0.1s linear;
            color: var(--texto-color);
            user-select: none;
        }

        .nav-links-custom a:not(.active){
            opacity: 0.7;
        }

        .nav-links-custom .active{
            transform: scale(1.2);
        }

        .nav-links-custom a:hover:not(.active){
            opacity: 0.9;
        }

.navbar-brand{
    max-width: 30%;
}

    #logo{
        height: 100%;
        width: auto;
        max-height: 60px;
    }