<img src="../../../assets/Portadas.jpg" alt="" class="back-image" />
<div class="maincontainer">
  <div class="imglogo">
    <img class="logo" src="../../../assets/logo.png" alt="Logito" />
  </div>
  <div class="contenedor">
    <div class="divportada mt-5">
      <h2>Iniciar Sesión</h2>
    </div>
    <!--mt = margin-top mb = margin-bottom-->
    <form class="mt-5" [formGroup]="LoginForm" (ngSubmit)="Login()">
      <div class="mb-3 d-flex flex-column align-items-center">
        <mat-form-field class="mt-2">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput placeholder="Ingresa tu correo" value="" formControlName="username" />
        </mat-form-field>
        <mat-form-field class="mt-2">
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="Ingresa tu constraseña" value="" formControlName="password"/>
        </mat-form-field>
        <button type="submit" class="botoncito mt-2">Ingresar</button>
      </div>
      <div class="registrarse">
        <p>¿No tienes cuenta? <a routerLink="/sign">Regístrate</a></p>
      </div>
    </form>
  </div>
</div>
