.header {
  height: 70px;
  background-color: rgb(17, 17, 17);
  /*Lo utilizamos para centrar verticalmente el logo, además de acomodarlo a la derecha*/
  display: flex;
  align-items: center;
  justify-content: end;
  /*Lo utilizamos para separar los elementos del contenedor horizontalmente*/
  gap: 20px;
}
.logo {
  margin-right: 20px;
  width: 150px;
  height: auto;
}
.botoncito {
  background-color: #1f0cc8;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 15px 0px 15px 0px;
  padding: 10px;
  font-size: 20px;
  width: 150px;
}
.botoncito:hover {
  animation: agrandar 2s alternate-reverse infinite ease-in-out;
  font-style: bold;
  font-size: 21px;
}
@keyframes agrandar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    background-color: darkblue;
  }
  100% {
    transform: scale(1);
    background-color: mediumblue;
  }
}
#portada {
  margin: 20px 0px 10px 0px;
  width: 550px;
  height: 310px;
  border-radius: 10px;
}
.divportada {
  text-align: center;
}
