<div class="container" style="width: 70rem;">
  <h2 class="fw-regular mb-4">
    Juegos en el carrito:
  </h2>
  <hr>
  <ul class="list-unstyled">

    <li *ngFor="let juego of Juegos; let i = index">
      <div class="game-card py-2 d-flex align-items-center justify-content-between gap-5 p-4 rounded-3">
        <div class="d-flex align-items-center gap-5" (click)="AbrirJuego(juego.id)">
          <img alt="{{ juego.nombre }}" class="rounded-3 img-fluid" height="64" [src]="juego.imagen_portada" width="64"
            style="aspect-ratio: 64 / 64; object-fit: cover;">
          <div>
            <h3 class="font-weight-medium">
              {{ juego.nombre }}
            </h3>
            <p class="fw-bold">
              {{juego.precio | currency}}
            </p>
          </div>
        </div>
        <button class="btn fs-3" style="color: white" (click)="removeGame(i)">Eliminar</button>
      </div>
      <hr>
    </li>
  </ul>
  <div class="row w-100">
    <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
      <span>Subtotal: </span>
      {{SubTotal | currency}}
    </div>
    <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
      <span>IVA: </span>
      {{IVA | currency}}
    </div>
    <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
      <span>Total: </span>
      {{Total | currency}}
    </div>
  </div>
  <div class="d-flex  mt-3" *ngIf="Juegos.length>0">
    <button class="btn btn-primary fs-3" (click)="openConfirmDialog()">
      Comprar
    </button>
  </div>
</div>