*{
    /* Variables de paleta de color */
    --primario-color: #fff;
    --primario-bg: #1E1E1E;
    --acento-1: #358fee;
    --acento-2: #01cafd;

    color: var(--primario-color);
}

body, :root{
    background-color: #1E1E1E;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

.titulo{
    font-size: 3.2rem;
    font-weight: normal;
}

.btn-icon{
    background-color: transparent;
    border: none;
}
    .btn-icon mat-icon{
        font-size: 4rem;
        width: auto;
        height: auto;
    }
