body, :root{
    background-color: #1E1E1E;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

*{
    color: #fff;
}

.titulo{
    font-size: 3.2rem;
    font-weight: normal;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
